*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(228, 222, 216), rgb(83, 99, 124));
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
}

.username {
  text-align: center;
  margin-top: 35px;
  padding: 0px;
}

label {
  display: inline-block;
  font-size: 1rem;
}

input {
  display: inline-block;
  height: 40px;
  border: 1px solid black;
  padding: 0 10px;
  font-size: 1rem;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.692);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-value {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
  font-family: Gotham Rounded, sans-serif;
}

.output .current-value {
  color: white;
  font-size: 2.5rem;
  font-family: Gotham Rounded, sans-serif;
}


